@import "variable.styl"

body, html
  line-height 1
  font-family -apple-system-font, Helvetica Neue, Helvetica, 'Arial Normal', Arial, 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
  background $color-background
  color $color-text
