// 定义header高度
$header-height = 50PX
$footer-height = 60PX
// 颜色定义规范
$color-background = #fff
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #6A7D8F
$color-header-theme = #37A4F3
$color-border = #eee
$color-white = #fff
$color-text = #333
$color-gray = #666
$color-light-gray = #808080
$color-red = #f00

// 字体定义规范
$font-size-10 = 10px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-20 = 20px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-26 = 26px
$font-size-28 = 28px
$font-size-30 = 30px
